#about {
	padding: $section-padding;

	.container {
		display: grid;
		grid-gap: 100px;
	}

	.info-block {
		h3 {
			font-size: 3rem;
		}

		p {
			font-size: 1.2rem;
			line-height: 1.5;
		}
	}

	@media (min-width: $breakpoint-medium) {
		.container {
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			grid-template-areas:
				"first first first first second second second second"
				". . third third third third . .";

			.first {
				grid-area: first;
			}
			.second {
				grid-area: second;
			}
			.third {
				grid-area: third;
			}
		}
	}
}
