#cave {
position: relative;
	.container{
		display: grid;
		place-items: center;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: ". thank_you thank_you .";
		grid-row-gap: 50px;
	
		.thank_you{
			z-index: 100;
			grid-area: thank_you;
			margin-top: -35vh;

			p{
				margin-bottom: 1.5em;
			}
		}
	}

	.cave_top{
		margin-top: -.5em;
		width: 100%;
		height: auto;
		top: 0;
		z-index: 200;
	}
	.cave_bottom_med{
		z-index: -100;
		margin-top:-35vh;
		width: 100%;
		height: auto;
		bottom: 0;
	}

	.cave_bottom_mobile, .cave-bird, .fuzzy, .lizard{
		display: none;
	}
}

@media (min-width: $breakpoint-large){

	.cave_bottom_mobile, .cave-bird, .fuzzy, .lizard{
		display: none;
	}

	.thank_you{
		z-index: 100;
		margin-top: -50vh;
	}
}

@media (min-width: $breakpoint-medium){
	.cave_bottom_med{
		padding-top: 0vh;
	}

	.cave_bottom_mobile, .cave-bird, .fuzzy, .lizard{
		display: none;
	}

	.thank_you{
		z-index: 100;
		grid-area: thank_you;
		margin-top: -10vh;
	}
}

@media (max-width: 1050px){
	#cave{
		.container{
			display: grid;
			place-items: center;
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 
			"thank_you thank_you thank_you thank_you";
			grid-row-gap: 50px;
		
			.thank_you{
				text-align: center;
				z-index: 100;
				grid-area: thank_you;
				margin-top: -3em;

				h2{
					font-size:6vw;
				}

				p{
					text-align: center;
				}

				.fuzzy{
					margin-top: -10vh;
					margin-bottom: -2em;
					z-index: 100;
					display: inline-block;
					left:0;
					width: 25vh;
				}

				.lizard{
					display: inline-block;
					width: 35vh;
					left:50%;
					transform: translateX(-50%);
					z-index: 200;
					bottom: 4vh;
					position: absolute;
				}
			}
		}
		
		.cave_bottom_mobile{
			display: inline-block;
			padding-top: 0vh;
			margin-top:-10vh;
			z-index: -100%;
			width: 100%;
			height: auto;
		}	

		.cave_bottom_med{
			display: none;
		}
	}
}

@media (max-width: $breakpoint-small){
	.thank_you{
		.fuzzy{
			visibility: visible;
			padding-bottom: 2em;
		}

		img{
			max-width: 35%;
		}
		
	}
}

// FOOTER______________

footer{
	display: grid;
	place-items: center;
	margin-top: -5em;
	padding-top: 0;
	background-color: $color-footer;
	padding-bottom: 8em;

	.container{
		z-index: 100;
		margin-top:3em;
		display: grid;
			place-items: center;
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: ". learn_more learn_more .";
			grid-row-gap: 50px;

		.learn_more{
			grid-area: learn_more;
		}

		button{
			margin-top: 1em;
		}
		.cave-bird{
		display: none;
	}
	}

	@media (max-width: 1050px){
		.container{
			text-align: center;
			margin-top: 8em;
			z-index: 100;
			display: grid;
			place-items: center;
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 
			"learn_more learn_more learn_more learn_more";
			grid-row-gap: 50px;
	

		.learn_more{
			grid-area: learn_more;
		}
		.cave-bird{
			width: 20vw;
			display: inline-block;
		}

		.learn_more_button{
			grid-area: learn_more_button;
		}

		h2{
			font-size:6vw;
		}
		button{
			margin-top: 1em;
			margin-bottom: 2em;
		}
	}
	}
}