#cave {
position: relative;
	.container{
		display: grid;
		place-items: center;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: ". thank_you thank_you .";
		grid-row-gap: 50px;
	
		.thank_you{
			z-index: 100;
			grid-area: thank_you;
			margin-top: -35vh;

		p{
			margin-bottom: 1.5em;
		}
		}
	}

	.cave_top{
		width: 100%;
		height: auto;
		top: 0;
		z-index: 200;
		// position: absolute
	}
	.cave_bottom_med{
		z-index: -100;
		margin-top:-35vh;
		width: 100%;
		height: auto;
		bottom: 0;
	}

	.cave_bottom_mobile, .cave-bird, .fuzzy{
		left: -9999px;
		width: 1px;
		visibility: hidden;
	}
}

@media (min-width: $breakpoint-large){

	.cave_bottom_mobile, .cave-bird{
		left: -9999px;
		width: 1px;
		visibility: hidden;
	}

	.thank_you{
		z-index: 100;
		margin-top: -50vh;
		border: 1px solid red;
	}
}

@media (min-width: $breakpoint-medium){
	.cave_bottom_med{
		padding-top: 0vh;
	}

	.cave_bottom_mobile, .cave-bird{
		left: -9999px;
		width: 1px;
		visibility: hidden;
	}

	.thank_you{
		z-index: 100;
		grid-area: thank_you;
		margin-top: -10vh;
	}
}

	@media (max-width: 1050px){
		#cave{
			.container{
				display: grid;
				place-items: center;
				grid-template-columns: repeat(4, 1fr);
				grid-template-areas: 
				"fuzzy fuzzy fuzzy fuzzy"
				"thank_you thank_you thank_you thank_you";
				grid-row-gap: 50px;
			
				.fuzzy{
					grid-area: fuzzy;
					z-index: 100;

				}

				.thank_you{
					text-align: center;
					z-index: 100;
					grid-area: thank_you;
				}
			}

			.bird_container{
				.cave-bird{
					visibility: visible;
					width: 20vh;
					left:50%;
					transform: translateX(-50%);
					z-index: 200;
					bottom: 4vh;
					position: absolute;
				}
			}
			
			.cave_bottom_mobile{
				visibility: visible;
				padding-top: 0vh;
				margin-top:-10vh;
				z-index: -100%;
				width: 100%;
				height: auto;
			}	
	
			.cave_bottom_med{
				left: -9999px;
				width: 1px;
				visibility: hidden;
			}
		}
	}


footer{
	display: grid;
	place-items: center;
	margin-top: -3em;
	padding-top: 0;
	background-color: $color-footer;
	padding-bottom: 8em;

	.container{
		margin-top:3em;
		display: grid;
			place-items: center;
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: ". learn_more learn_more .";
			grid-row-gap: 50px;

		.learn_more{
			grid-area: learn_more;
		}
	}
}