// CSS Reset
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	// Insert background gradient here
	background: rgb(2, 0, 36);
	background: linear-gradient(
		180deg,
		$color-dark-accent 16%,
		$color-background-darkteal 77%,
		$color-background-teal 100%
	);


	button {
		padding: 1rem;
		border: none;
		background: $color-light-accent;
		font-family:$heading-condensed-font-family;
		font-size: 20px;
		font-weight: 700;
		text-align: right;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: left;
	}

// _____________________
}

ul {
	padding: 0;
}

a {
	text-decoration: none;
	color: $color-dark-accent;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

p {
	width: fit-content;
}
