#hero {
padding-top: 30vh;

		.hero-content {

			h1 {
				font-size: 12.5vw;
				margin-bottom: 0;
				text-align: center;
				margin-top: 0;
			}
		
			h2 {
				margin-top: 0;
				font-size: 3.5vw;
				font-family: $bodyfont-family;
				color:  $color-light-accent;
				text-transform: none;
				font-weight: 300;
				margin-bottom: 4rem;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: .15em;
			}  
		}

// GRID_____
		.container {
			display: grid;
			margin: 0 auto;
			place-items: center;
			grid-template-columns: repeat(6, 1fr );
			grid-template-areas:

				". hero-content hero-content hero-content hero-content .";

			.hero-content {
				grid-area: hero-content;
			}
		}

	}

	@media (min-width: $breakpoint-medium){
	
		.hero-content {
			text-align: center;
			
			h1 {
				font-size: 12.5vw;
			}
	
			h2 {
				font-size: 3.3vw;
			}  
		}
	}

	@media (max-width: $breakpoint-small){
		#hero{
			padding-top: 3vh;
			// border: 7px solid green;
			height: 50vh;
		}

		.container{
			margin: 0 auto;
			grid-gap: 10px;
			display: block;
			padding-bottom: 0;
		}

		.hero-content {
			padding: $section-padding;
			h1 {
				font-size: 15vw;
				margin-bottom: 0;
				text-align: center;
				margin-top: 0;
			}
		
			h2 {
				margin-top: 0;
				font-size: 3vw;
				// margin-bottom: 3rem;
			}  
		}

	}
