#hero {
	position: relative;

	.container {
		max-width: $breakpoint-medium;
		width: 95%;
		margin: 0 auto;
	}

	.upper {
		text-transform: uppercase;
	}
	.hero-content {
		position: relative;
		z-index: 400;
		padding-top: 30vh;

		h1,
		h2 {
			width: fit-content;
		}

		h1 {
			margin-bottom: 0;
			margin-top: 0;
		}

		h2 {
			margin-top: 0;
			font-family: $bodyfont-family;
			color: $color-light-accent;
			text-transform: none;
			font-weight: 300;
			margin-bottom: 4rem;
			text-transform: uppercase;
			letter-spacing: 0.15em;
		}
	}

	// GRID_____
	.container {
		margin: 0 auto;

		.sightings_about {
			position: relative;
			z-index: 400;

			h4 {
				font-family: $bodyfont-family;
				font-size: 2em;
				text-transform: uppercase;
				font-style: normal;
				line-height: 1.2em;
				margin-bottom: 0;
			}
		}
	}
}

@media (min-width: $breakpoint-medium) {
	.hero-content {
		h1 {
			font-size: 33ch;
		}

		h2 {
			font-size: 8.9ch;
		}
	}
	.sightings_about .wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px;
	}
}

@media (max-width: $breakpoint-small) {
	#hero {
		padding-top: 3vh;
	}

	.container {
		margin: 0 auto;
		grid-gap: 10px;
		display: block;
		padding-bottom: 0;
	}

	.hero-content {
		padding: $section-padding;
		h1 {
			margin-bottom: 0;
			text-align: center;
			margin-top: 0;
		}

		h2 {
			margin-top: 0;
		}
	}
}

// FOG ANIMATION__________________________
.fog {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-size: 400% 100%;
	animation: fog-animated-gradient-background 12s ease infinite;
}

.fog__container {
	animation: fog-textcolorchange 6s linear infinite;
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
	position: absolute;
}
.fog__container::before,
.fog__container::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 200vw;
	z-index: 200;
}

.fog__container::before {
	background: url("../img/fog-1.png") repeat-x;
	background-size: cover;
	background-position: center;
	animation: fog-cloud-marquee 6s linear infinite;
	opacity: 0;
}

.fog__container::after {
	background: url("../img/fog-2.png") repeat-x;
	background-size: cover;
	background-position: center;
	animation: fog-cloud-marquee 6s linear 3s infinite;
	opacity: 0;
}
// }

.fog::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40vh;
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	z-index: 300;
}

// Fog Animated Gradient Color Background
@keyframes fog-animated-gradient-background {
	10% {
		$color-dark-accent: 30%;
	}
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}

// Fog Animated Cloud Marquee
@keyframes fog-cloud-marquee {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	50% {
		transform: translate(-50vw, 0);
		opacity: 1;
	}
	100% {
		transform: translate(-100vw, 0);
		opacity: 0;
	}
}

@media (max-width: $breakpoint-small) {
	#hero {
		padding-top: 0;

		.hero-content {
			padding-top: 15vh;
		}
	}
}
