nav {
	position: fixed;
	top: 10vh;
	right: 0;

	button {
		padding: 3rem;
		border: none;
		background: yellow;
		color: black;
	}

	.chris_hero{
		top: 20vh;
		padding: 3rem;
		border: none;
		background: red;
	}
}
