nav {
	position: fixed;
	bottom: 1em;
	right: 0;
	z-index: 200;

	button {
		padding: 1rem;
		padding-left: 2rem;
		padding-right:2rem;
		border: none;
		background: $color-background-teal;
		color:white;
	}


}
