#students {
	padding: $section-padding;
	position: relative;
	padding-bottom: 60vh;
	
	.forest{
		width: 100%;
		height: auto;
		z-index: -100;
		position: absolute;
		bottom:0;
	}

	.container {
		display: grid;
		grid-gap: 50px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
		". . animation animation"
		"interface interface nessy ."
		"rock_monster . . mer-skull";
		grid-row-gap: 150px;

		// .fairy-sit_container{
		// 	.fairy-sit{
		// 	grid-area: fairy-sit;
		// 	width: 20vw;
		// 	left: 10vw;
		// 	bottom: 105em;
		// 	position: absolute;
		// 	}
		// }

		.nessy {
			grid-area: nessy;
			width: 10vw;
			position: absolute;
			bottom: 40em;
			right: 20em;
		}

		.rock_monster{
			grid-area: rock_monster;
			width: 40vw;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.mer-skull {
			grid-area: mer-skull;
			width: 25vw;
			bottom: 5em;
			position: absolute;
			right: 7em;
		}

		.animation {
			grid-area: animation;
		}

		.interface {
			grid-area: interface;
		}


		h3{
			margin-bottom: $color-light-accent; 
		}

		.name {
			font-family: $bodyfont-family;
			text-transform: none;
			font-size: 1.7rem;
			line-height: 1.3;
			text-align: center;
			color: $color-light-accent; 
		}

		p{
			text-align: center;
			font-size: 1rem;
			font-family: $heading-normal-font-family;
		}

		.anim-title-button{
			display: flex;
			justify-content: space-between;
		}

		button{
			margin-bottom: .81rem;
		}

		.students-container {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
			grid-gap: 30px;

			.student {
				margin-top: 2rem;
				.profile {
					height: 200px;
					width: 100%;
					object-fit: cover;
				}
			}
		}
	}


	@media (min-width: $breakpoint-medium) {
		.container {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas:
				". . animation animation"
				"interface interface nessy ."
				"rock_monster . . mer-skull";
			grid-row-gap: 150px;


			// .fairy-sit_container {
			// 	.fairy-sit{
			// 	grid-area: fairy-sit;
			// 	width: 20vw;
			// 	left: 0vw;
			// 	bottom: 40em;
			// 	position: absolute;
			// 	}
			// }

			.animation {
				grid-area: animation;
			}

			.interface {
				grid-area: interface;
			}

			.nessy {
				grid-area: nessy;
				width: 20vw;
				position: absolute;
				bottom: 40em;
				right: 20em;
			}

			.rock_monster{
				grid-area: rock_monster;
				width: 40vw;
				position: absolute;
				left: 0;
				bottom: 0;
			}

			.mer-skull {
				grid-area: mer-skull;
				width: 25vw;
				bottom: 5em;
				position: absolute;
				right: 7em;
			}
		}
	}

	@media (max-width: $breakpoint-small){
		#students{
			padding: 0;
		}
		
		.container{
			text-align: center;
			grid-template-columns: repeat(4, 1fr);
	
			grid-template-areas:
				"animation animation animation animation"
				"fairy-sit fairy-sit fairy-sit fairy-sit"
				"interface interface interface interface";
			grid-row-gap: 25px;

			.anim-title-button{
			display: block;
			color: 3px solid $color-light-accent;
			}

			button{
				margin-top: .5rem;
			}

			.animation{
				margin-bottom: 0em; 
		}

		.interface{
			display: block;
		

			.fairy-sit_container {
				.fairy-sit{
				grid-area: fairy-sit;
				width: 30vw;
				margin:0 auto;
				top: 0;
	
				}
			}
		}
		}	
	}
}
