#students {
	position: relative;
	padding-bottom: 55vh;
	background-image: url(/img/forest_large_back.png);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	z-index:-200;


	.forest-med{
		width: 100%;
		height: auto;
		z-index: -100;
		position: absolute;
		bottom:0;
		visibility: visible;
		left:0;
		border: 4px solid green;
	}

	// .forest-mobile, .forest-large{
	// 	left: -9999px;
	// 	top:-9999px;
	// 	width: 1px;
	// 	visibility: hidden;
	// }

	.container {
		display: grid;
		grid-gap: 50px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
		". . animation animation"
		"interface interface . ."
		"interface interface . .";
		grid-row-gap: 0px;

		.fairy-sit, .nessy, .mer-skull,.rock_monster{
			visibility: hidden;
			left: -9999px;
			top:-9999px;
			width: 1px;
		}

		.animation {
			grid-area: animation;
		}

		.interface {
			grid-area: interface;
		}


		h3{
			margin-bottom: $color-light-accent; 
		}

		.name {
			font-family: $bodyfont-family;
			text-transform: none;
			font-size: 1.7rem;
			line-height: 1.3;
			text-align: center;
			color: $color-light-accent; 
		}

		p{
			text-align: center;
			font-size: 1rem;
			font-family: $heading-normal-font-family;
		}

		.anim-title-button{
			display: flex;
			justify-content: space-between;
		}

		button{
			margin-bottom: .81rem;
		}

		.students-container {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
			grid-gap: 30px;

			.student {
				margin-top: 2rem;
				.profile {
					height: 200px;
					width: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

@media (min-width: $breakpoint-large) {
	#students{
		padding-bottom: 100vh;
	}
}

	@media (min-width: $breakpoint-medium) {
		#students{
			padding-bottom: 100vh;
			position: relative;
			
			.forest-large{
				width: 100%;
				height: auto;
				z-index: -100;
				position: absolute;
				bottom:0;
				left: 0;
				visibility: visible;
				border: 4px solid red;
			}
		
			// .forest-med, .forest-mobile{
			// 	left: -9999px;
			// 	width: 1px;
			// 	visibility: hidden;
			// }

		}
		.container {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas:
				". . animation animation"
				"interface interface . .";
			grid-row-gap: 50px;


			.fairy-sit, .nessy, .mer-skull, .rock_monster{
				visibility: hidden;
				left: -9999em;
				top: -9999em;
				width: 1px;
			}

			.animation {
				grid-area: animation;
			}

			.interface {
				grid-area: interface;
			}
		}
	}

	@media (max-width: 1050px){
		#students{
			padding-bottom: 0;

			// .forest-large, .forest-med{
			// 	left: -9999px;
			// 	top:-9999px;
			// 	width: 1px;
			// 	visibility: hidden;
			// }
	
			.forest-mobile{
				width: 100%;
				height: auto;
				z-index: -100;
				bottom: 0;
				position: absolute;
				visibility: visible;
				left: 0;	
			}
		
		.container{
			text-align: center;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 50px;
			grid-template-areas:
				"animation animation animation animation"
				"fairy-sit fairy-sit fairy-sit fairy-sit"
				"interface interface interface interface"
				;
			grid-row-gap: 0px;

			.anim-title-button{
			display: block;
			color: 3px solid $color-light-accent;
			}

			button{
				margin-top: .5rem;
			}

			.animation{
				margin-bottom: 0em; 
			}

			.fairy-container {
				margin-top: 3vh;
				.fairy-sit{
					visibility: visible;
					grid-area: fairy-sit;
					width: 20vw;
					left: 0;
					top: 0;
				}
			}

			.interface{
				display: block;

				.nessy{
					visibility: visible;
					width: 30vw;
					margin-left: 10vw;
					margin-top: 3vh;
					margin-bottom: 0;
				}

				.rock-mer_container{
					position: relative;
					margin-top: 0;

					.rock_monster{
						visibility: visible;
						width: 40vw;
						top: 0;
						left: 1vw;
					}
		
					.mer-skull{
						visibility: visible;
						width: 35vw;
						top:5vh;
						left: 41vw;
					}
				}
			}

		}
	}	
}

