// Colors
$color-dark-accent: black;
$color-light-accent: white;
$color-background-teal:#1c4238;
$color-background-darkteal: #1f4444;
$color-background-lightgray: #cacacae0;

// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-small: 768px;
$breakpoint-medium: 1200px;
$breakpoint-large: 1550px;
$breakpoint4k: 2560px;
// Spacing
$section-padding: 2% 0;

//TYPOGRAPHY
$headingfont-family: 'Open Sans Condensed', 'Bebas Neue', 'Franklin Gothic Condensed', 'Arial', sans-serif;
$bodyfont-family: 'Cormorant Garamond', 'Lora', serif;

//TYPOGRAPHIC SCALE_______________________________________________________
h1, h2, h3, .small_text { 
  margin: .5em 0;
  color: $color-light-accent; 
}  
  
h1, .small_text{
  font-family: $headingfont-family; 
  text-transform: uppercase;
}

h1, h2{
  font-weight: 700;
}

h2, h3{
  font-family: $bodyfont-family;
  text-transform: uppercase;
}

h3, .small_text{
  font-weight: 100;
  letter-spacing: .2em; 
}
// _____
h1 {
  font-size: 12vw;
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
  letter-spacing: .02em;
}

.subhead{
  color: $color-light-accent;
  margin-top: -.6em;
  text-align: center;
  margin-bottom: 7vh;
  font-size: 3.2vw;
  font-weight: 300;
}

h2 {
  font-size: 6vw;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: .05em;
}

h3 {
  margin-top: 0;
  font-size: 2vw;
  color: $color-light-accent;
  font-weight: 700;
}

.small_text{
  font-size: 2vw;
  margin-bottom: 0;
}

// "save the date" format
.save_date{
margin-top: 6vh;
padding-bottom: 0;
font-style: italic;
text-transform: uppercase;
text-align: center;
font-size: 5vw;
}

.web_soon_text{
padding-top: 0;
color: $color-background-lightgray;
text-align: center;
} 

//HERO AND COMING SOON PAGE TYPE &STYLING_________________________________________________

#hero {
padding: $section-padding;
  .full-height {
    height: 100vh;
  }
}

.container{
  padding: 0 50px;
  max-width: 1600px;
  margin: 0 auto;
    display: grid;
    grid-gap: 0;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      ". head head head head ."
      ". id_invite id_invite anim_invite anim_invite ."
      ". fifth fifth fifth fifth .";
  
    .head {
      grid-area: head;
    }

    .id_invite {
      grid-area: id_invite;

    }

    .anim_invite {
      grid-area: anim_invite;
    }

    .fifth {
      grid-area: fifth;
    }
}

@media (max-width: $breakpoint-small){
  .container{
    display: block;
    // place-items: center;
    margin: 0 auto;

  h2, h3, .small_text, .anim_invite, .id_invite{
    text-align: center;
  }

  h1{
    font-size: 15vw;
    margin-bottom: 0;
  }

  .subhead{
    font-size: 4vw;
  }

  .small_text{
    font-size: 1.3rem;
  }

  .anim_invite{
    margin-top: 2em;
  }
  
  // type_______
    h2{
      font-size: 4rem;
    }

    h3{
      font-size: 1.4rem;
    }

    .save_date{
      font-size: 8vw;
    }
    
    .web_soon_text{
      font-size: 4vw;
    }
  }
}  

// Base (COLOR BACKGROUND)__________________________
html {
  box-sizing: border-box;
}
  
*, 
*:before, 
*:after {
  box-sizing: inherit;
}
  
body{
  position: relative;
  margin:0;
  padding: 0;

	background: linear-gradient(358deg, $color-dark-accent, $color-background-darkteal);
	background-size: 600% 600%;

	-webkit-animation: teal-background 200s ease infinite;
	-moz-animation: teal-background 200s ease infinite;
	animation: teal-background 200s ease infinite;

  
	@keyframes teal-background {
		0%{background-position:53% 0%}
		50%{background-position:48% 100%}
		100%{background-position:53% 0%}
  }
}


  // FOG ANIMATION__________________________
// ***********THE FOG IS CAUSING THE HORIZONTAL SCROLL-BAR THE FOG ALSO JERKS AT THE END OF THE SEQUENCE****************
  .fog {
    position: relative;
    height: 100vh;
    width: 100%;
  
    &__container {
      position: absolute;
  
      height: 100%;
      width: 100%;
  
      overflow: hidden;
    }
  
    &__img {
      position: absolute;
   
      height: 100vh;
      width: 300vw;
  
      &--first {
        background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png') repeat-x;
        background-size: contain;
        background-position: center;
        animation: marquee 60s linear infinite;
        opacity: .5;
      }
  
      &--second {
        background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png') repeat-x;
        background-size: contain;
        background-position: center;
        animation: marquee 40s linear infinite;
        opacity: .5;
      }
    }
  }
  
  // Marquee
  @keyframes marquee {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-200vw, 0, 0); }
  }
  
