// Colors
$color-dark-accent: black;
$color-light-accent: white;
$color-background-teal:#8fd4c2;
$color-background-darkteal: #1c4646;
$color-background-lightgray: #cacacae0;

// Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-small: 768px;
$breakpoint-medium: 1200px;
$breakpoint-large: 1550px;
$breakpoint4k: 2560px;
// Spacing
$section-padding: 0 ;

//TYPOGRAPHY
$headingfont-family: 'Open Sans Condensed', 'Bebas Neue', 'Franklin Gothic Condensed', 'Arial', sans-serif;
$bodyfont-family: 'Cormorant Garamond', 'Lora', serif;

*, *::before, *::after {
  box-sizing: inherit;
}


//TYPOGRAPHIC SCALE_______________________________________________________
h1, h2, h3, .small_text { 
    margin: .5em 0;
    color: $color-light-accent; 
  }  
  
  h1, .small_text{
    font-family: $headingfont-family; 
    text-transform: uppercase;
  }
  
  h1, h2{
    font-weight: 700;
  }

  h2, h3{
    font-family: $bodyfont-family;
    text-transform: uppercase;
  }

  h3, .small_text{
    font-weight: 100;
    letter-spacing: .2em; 
  }
  // _____
  h1 {
    font-size: 5rem;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
    letter-spacing: .02em;
  }

  h2 {
    font-size: 6rem;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: .05em;
    line-height: 1;
  }

  h3 {
    margin-top: 0;
    font-size: 2rem;
    color:  $color-light-accent;
  }

  .small_text{
    font-size: 1.5em;
    margin-bottom: 0;
  }

// img RESPONSIVE_____________________
img{
  width: 100%;
  height: auto;
}


//HERO AND COMING SOON PAGE TYPE &STYLING_________________________________________________
#hero {
  padding: $section-padding;


.hero-content {

// animation & interface dates
  .one-half{
    h2, h3{
      text-align: left;
    }
  }


// "save the date" format
.save_date{
  padding-bottom: 0;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
}
  .web_soon_text{
    padding-top: 0;
    color: $color-background-lightgray;
    margin-bottom: 5em;
  } 

}

// ______

  // @media (min-width: $breakpoint-medium) {
    .container{
      display: grid;
      place-items: center;
      grid-template-columns: repeat(6, 1fr );
      grid-template-areas:
        ". first first first first ." 
        ". second second fourth fourth ."
        ". fifth fifth fifth fifth .";
    
      .first {
        grid-area: first;
      
      }
      .second {
        grid-area: second;
      }
      .third {
        grid-area: third;
      }
      .fourth {
        grid-area: fourth;
      }
    
      .hero-content {
        position: relative;

        h1 {
          font-size: 10vw;
        }
        h3 {
          font-size: 2.5vw;
        }

        .row{
          h3{
            font-size: 2vw;
          }
        }
      }
    }
  // }
}




@media (max-width: $breakpoint-mobile){
  .hero-content{

    .save_date{
      margin-top: 5vh;
     margin-bottom: 0;
      font-style: italic;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5rem;
    }


    .small_text, h3{
      font-size: 1.3rem;
    }
    .row{
      display: block;
      margin: 0 auto;
      margin-top: 1em;
      margin-bottom: 1em;
      text-align: center;
      width: 51vw;

      .one-half{
        margin: 5%;
      }

        h2{
          font-size: 4rem;
          text-align: center;
        }

        h3{
          font-size: 1.4rem;
          text-align: center;
        }
    }
  }  
}
 

// Base (COLOR BACKGROUND)__________________________
html {
    box-sizing: border-box;
  }
  
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }
  
body{
  position: relative;
  margin:0;
	background: linear-gradient(358deg, $color-dark-accent, $color-background-darkteal);
	background-size: 600% 600%;

	-webkit-animation: teal-background 200s ease infinite;
	-moz-animation: teal-background 200s ease infinite;
	animation: teal-background 200s ease infinite;

  
	@keyframes teal-background {
		0%{background-position:53% 0%}
		50%{background-position:48% 100%}
		100%{background-position:53% 0%}
  }
}


  // FOG ANIMATION__________________________
.fog {
    position: relative;
  margin:0;
  padding-top: 0;
  margin-top: 0;
    height: 100vh;
    width: 100%;
    

  
    &__container {
      position: absolute;
      height: 100%;
      width: 100%;
  
      overflow: hidden;
    }
  
    &__img {
      position: absolute;
      height: 100vh;
      width: 300vw;
  
      &--first {
        background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png') repeat-x;
        background-size: contain;
        background-position: center;
        animation: marquee 120s linear infinite;
opacity: .5;
      }
  
      &--second {
        background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png') repeat-x;
        background-size: contain;
        background-position: center;
        animation: marquee 100s linear infinite;
        opacity: .5;
      }
    }
  }
  
  // Marquee
@keyframes marquee {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-200vw, 0, 0); }
}
