// Colors
$color-dark-accent: black;
$color-light-accent: white;
$color-background-teal:#1c4238;
$color-background-darkteal: #1f4444;
$color-background-lightgray: #cacacae0;

// Breakpoints
$breakpoint-small: 768px;
$breakpoint-medium: 1200px;
$breakpoint-large: 1550px;
$breakpoint4k: 2560px;
// Spacing
$section-padding: 3vh 0;

//TYPOGRAPHY
$headingfont-family: 'Open Sans Condensed', 'Bebas Neue', 'Franklin Gothic Condensed', 'Arial', sans-serif;
$bodyfont-family: 'Cormorant Garamond', 'Lora', serif;

//TYPOGRAPHIC SCALE_______________________________________________________
h3, .small_text { 
  margin: .5em 0;
  color: $color-light-accent; 
}  

h2, h3{
  font-family: $bodyfont-family;
  text-transform: uppercase;
  color: $color-light-accent; 
}

h3, .small_text{
  font-weight: 100;
  letter-spacing: .2em; 
}
// _____

h2 {
  font-size: 6vw;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: .05em;
}

h3 {
  margin-top: 0;
  font-size: 2vw;
  color: $color-light-accent;
  font-weight: 700;
}

.small_text{
  font-size: 2vw;
  margin-bottom: 0;
  font-family: $headingfont-family; 
  text-transform: uppercase;
}

//HERO PAGE TYPE &STYLING_________________________________________________

#hero {
padding: $section-padding;
position: relative;
overflow: hidden;

  .full-height {
    height: 100vh;
  }
}

.container{
  padding: 0 50px;
  max-width: 1400px;
  margin: 0 auto;
    display: grid;
    grid-gap: 0;
    place-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "fairy head head head head head ."
      ". id_invite id_invite line anim_invite anim_invite nessy_container";
  
  .fairy{
    grid-area: fairy;
    width: 15vw;
    height: auto;
    visibility: visible;
    z-index: 100;
    margin-left: -4.5vw;
    top: 10vh;
    position: absolute;
  } 

  .head {
    grid-area: head;
    margin-bottom: 3em;
    .title{
      width: 100%;
      height: auto;
      z-index:100;
    }
  }

  .id_invite {
    grid-area: id_invite;
  }

  .line{
    grid-area: line;
    height: 100%;
    border-right: 1px solid white;
  }

  .anim_invite {
    grid-area: anim_invite;
  }

  .nessy_container{
    grid-area: nessy_container;
    .nessy{
      width: 30vw;
      bottom: 0;
      right: -15vw;
      position: absolute;
    }
  }
}

@media (max-width: $breakpoint-small){
  #hero{
    padding-top: 4vh;
  }
  
  .container{
    display: block;
    padding-top: 0;
    
// type_______
  h2, h3, .small_text, .anim_invite, .id_invite{
    text-align: center;
  }

  .small_text{
    font-size: 1.3rem;
  }

  .anim_invite{
    margin-top: 2em;
    margin-bottom: 5em;
  }
  
 
    h2{
      font-size: 4rem;
    }

    h3{
      font-size: 1.4rem;
    }

    .save_date{
      font-size: 8vw;
    }
    
    .web_soon_text{
      font-size: 4vw;
    }

    .line{
      grid-area: line;
     width: 48vw;
     margin:0 auto;
      padding-bottom: 2vh;
      border-right: 0;
      border-bottom: 1px solid white;
    }

// characters___
    .nessy, .fairy{
      visibility: hidden;
    }
  }
}  

// Base (COLOR BACKGROUND)__________________________
html {
  box-sizing: border-box;
}
  
*, 
*:before, 
*:after {
  box-sizing: inherit;
}
  
body{
  background-image: url(img/background.jpg);
  background-repeat: none;
  margin: 0;
}









  // FOG ANIMATION__________________________
// ***********THE FOG IS CAUSING THE HORIZONTAL SCROLL-BAR THE FOG ALSO JERKS AT THE END OF THE SEQUENCE****************
.fog {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  // background-color: white;
  background-image: linear-gradient(-45deg, $color-dark-accent, $color-background-darkteal);
  background-size: 400% 100%;
  animation: fog-animated-gradient-background 12s ease infinite;

  .fog__container {
    color: rgba(255, 255, 255, .75);
    animation: fog-textcolorchange 6s linear infinite;
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
  }

  .fog__container::before,
  .fog__container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200vw;
    z-index: 200;
  }

  .fog__container::before  {
    background: url('img/fog-1.png') repeat-x;
    background-size: cover;
    background-position: center;
    animation: fog-cloud-marquee 6s linear infinite;
    opacity: 0;
  }

  .fog__container::after {
    background: url('img/fog-2.png') repeat-x; 
    background-size: cover;
    background-position: center;
    animation: fog-cloud-marquee 6s linear 3s infinite;
    opacity: 0;
  }
}

// Fog Animated Gradient Color Background
@keyframes fog-animated-gradient-background {
  0%{background-position:0% 0%}
  50%{background-position:100% 0%}
  100%{background-position:0% 0%}
}

// Fog Animated Cloud Marquee
@keyframes fog-cloud-marquee {
  0% { transform: translate(0, 0); opacity: 0; }
  50% { transform: translate(-50vw, 0); opacity: 1;}
  100% { transform: translate(-100vw, 0); opacity: 0;}
}

// Fog Animated Text Color Change
@keyframes fog-textcolorchange {
  0% { color: rgba(255,255,255,.75);}
  50% { color: rgba(255,255,255,.25);}
  100% { color: rgba(255,255,255,.75);}
}
