// Colors
$color-dark-accent: black;
$color-light-accent: white;
$color-background-teal: #8fd4c2;
$color-background-darkteal: #1c4646;
$color-background-lightgray: #bfc0be;
$color-footer: #141516;

// Breakpoints
$breakpoint-small: 768px;
$breakpoint-s-med: 950px;
$breakpoint-medium: 1200px;
$breakpoint-large: 1550px;
$breakpoint4k: 2560px;

// Spacing
$section-padding: 15vh 0;

//TYPOGRAPHY
$heading-condensed-font-family: "Open Sans Condensed", "Bebas Neue",
	"Franklin Gothic Condensed", "Arial", sans-serif;
$heading-normal-font-family: "Open Sans", sans-serif;
$bodyfont-family: "Cormorant Garamond", "Lora", serif;

// Imports
@import "./partials/global";
@import "./partials/helpers";
@import "./partials/navigation.scss";
@import "./partials/hero.scss";
@import "./partials/about.scss";
@import "./partials/students.scss";
@import "./partials/cave.scss";

// Tomy's addtion
@import "./partials/typography.scss";
@import "./partials/quote.scss";
